body{
    background: linear-gradient(135deg,#141E30,#243B55);
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    font-family:Segoe UI,sans-serif;
}

.quiz-card{
    width:650px;
    border-radius:16px;
    padding:25px;
    animation:fadeIn .6s;
}

@keyframes fadeIn{
    from{opacity:0;transform:translateY(30px);}
    to{opacity:1;}
}

.option{
    background:black;
    color:white;
    border:1px solid #444;
    transition:.3s;
}

.option:hover{
    background:#222;
    transform:scale(1.02);
}

.correct{
    background:#198754 !important;
    animation:pop .4s;
}

@keyframes pop{
    0%{transform:scale(1);}
    50%{transform:scale(1.1);}
}

.wrong{
    background:#dc3545 !important;
    animation:shake .4s;
}

@keyframes shake{
    0%{transform:translateX(0);}
    25%{transform:translateX(-5px);}
    50%{transform:translateX(5px);}
}

.confetti{
    position:fixed;
    width:10px;
    height:10px;
    top:0;
    animation:fall 3s linear;
}

@keyframes fall{
    to{transform:translateY(100vh) rotate(360deg);}
}
